/* Reset default styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; /* Hide overflow to prevent scrolling */
  background-color: black; /* Set background color to black */
}

/* Define custom cursor */
.custom-cursor {
  cursor: url('./assets/cursor/pointer.png'), auto !important;
}

/* Terminal styles */
#terminal {
  position: fixed; /* Fixed position to keep it always visible */
  top: 50px; /* Adjust initial top position as needed */
  left: 50px; /* Adjust initial left position as needed */
  width: 600px; /* Fixed width */
  height: 400px; /* Fixed height */
  background-color: #10101099; /* Terminal background color */
  color: #ffffff; /* Terminal text color */
  border-radius: 3px; /* Rounded corners */
  z-index: 1000; /* Ensure it's above other elements */
  border: 2px solid #30303099; /* Terminal border color */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Terminal shadow */
}

@media screen and (max-width: 600px) {
  /* Adjust styles for smaller screens, such as phones */
  #terminal {
      max-width: 90%; /* Increase width for smaller screens */
  }
}
/* Terminal header styles */
#terminal-header {
  background-color: #30303099; /* Header background color */
  padding: 10px; /* Add padding */
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align buttons to the left */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Terminal buttons styles */
#terminal-buttons {
  display: flex; /* Use flexbox for layout */
  gap: 10px; /* Add gap between buttons */
}

/* Individual terminal button styles */
.terminal-button {
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  border-radius: 3px; /* Circular shape */
  cursor: pointer; /* Set cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Terminal button hover effect */
.terminal-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}

/* Close button styles */
#close-button {
  background-color: #FF5F57; /* Close button color */
}

/* Minimize button styles */
#minimize-button {
  background-color: #FFBD2E; /* Minimize button color */
}

/* Maximize button styles */
#maximize-button {
  background-color: #28CA42; /* Maximize button color */
}

/* Terminal content styles */
#terminal-content {
  padding: 20px; /* Add padding */
  height: calc(100% - 40px); /* Adjust for header height and padding */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  user-select: none; /* Disable text selection */
}

/* Terminal text styles */
#terminal-text {
  margin: 0;
  padding: 0;
  font-size: 14px; /* Terminal text size */
  line-height: 1.5; /* Line height */
  overflow: hidden; /* Hide overflow */
  white-space: pre-line; /* Preserve line breaks */
}

/* Video background styles */
#video-background {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  z-index: -1; /* Behind other content */

}

/* Scan lines effect */
#video-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 2px);
  z-index: 1;
  pointer-events: none;
}

/* Video styles */
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire viewport while maintaining aspect ratio */
  z-index: 0; /* Behind other content */
}

/* Positioning classes */
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

/* Blurred box styles */
#blurred-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #10101099; /* Transparent background */
  border-radius: 3px; /* Rounded corners */
  border: 2px solid #30303099; /* Dark border with transparency */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Slightly blurred shadow */
  backdrop-filter: blur(1px); /* Apply blur effect */
  z-index: 999; /* Above other content */
  display: none; /* Initially hidden */
  padding: 50px; /* Add padding */
  text-align: center; /* Center text horizontally */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

#blurred-box2 {
  display: flex; /* Initially hidden */
  padding: 5px; /* Add padding */
  text-align: center; /* Center text horizontally */
  justify-content: center;
}


/* Profile picture styles */
#blurred-box img {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  border-radius: 3px; /* Rounded corners */
  margin: 10px; /* Adjust margin as needed */
}

/* Links styles */
.links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1001; /* Ensure icons are above the blurred box */
}

.links a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: #47B2ED;
  text-decoration: none;
  transition: color 0.3s;
}

/* Link hover effect */
.links a:hover {
  color: #F0F3F4;
}

.links a i {
  margin-right: 5px;
  font-size: 24px;
}


/* User Description styles */
.user-description {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.user-description p {
  margin: 0; /* Remove default margin */
  padding: 10px; /* Add padding */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 3px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* User description hover effect */
.user-description:hover p {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}

#avatar-frame {
  position: absolute; /* Overlay on top of the profile picture */
  top: 20%; /* Adjust to move it higher (e.g., reduce from 50% to 40%) */
  left: 50%; /* Center horizontally within #blurred-box */
  transform: translate(-50%, -50%); /* Adjust for proper centering */
  width: 15% ; /* Slightly larger than the profile picture */
  height: 20%; /* Slightly larger than the profile picture */
  z-index: 1000; /* Ensure it is above the profile picture */
  pointer-events: none; /* Prevent interaction with the frame */
  display: none; /* Initially hidden */
}

/* MaximoDev */
/* From Uiverse.io by njesenberger */ 
.button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin-top: 50px;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.button:active .button-top {
  transform: translateY(6px);
}

.button-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: #47B2ED;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.button:active .button-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.button-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #1D6AA2;
  background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.button:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}

.card {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease-in-out;
  margin: 10px;
}

.img {
  height: 30%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 12px;
  color: lightgrey;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
}


